<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mp.mapper.AdMemberMapper">

<resultMap type="org.mp.domain.MemberVO" id="AdmemberMap">
		<id property="userId" column="userid" />
		<result property="userId" column="userid" />
		<result property="userPwd" column="userpwd" />
		<result property="userName" column="userName" />
		<result property="address" column="address" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="registerdate" column="registerdate" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap type="org.mp.domain.AuthVO" id="authMap">
		<result property="userId" column="userid" />
		<result property="authority" column="authority" />
	</resultMap>	
	
	
	<!-- 회원 리스트 -->
	<select id="AdMemList" parameterType="org.mp.domain.MemberVO" resultMap="AdmemberMap">
		select
		    mem.userid as userId, mem.address as address,mem.phone as phone,mem.email as email, username, mem.registerdate as registerdate, auth.authority as authority
		from 
		   members mem join authorities auth on mem.userid = auth.userid
	</select>
	
	<!-- 회원 삭제 -->
	<delete id="memDelete">
	 	delete from members where userid = #{userId}
	</delete>
	

	
	
	
	
	
	
</mapper>