<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "org.mp.mapper.BoardMapper">

  <select id = "getList" resultType = "org.mp.domain.BoardVO">
  select bno, USER_ID as userId, title, content, hit, good, BOARD_DATE as boardDate,
  BOARD_UPDATE_DATE as boardUpdateDate, REPLY_CNT as replyCnt
  from board where bno > 0
  </select>
    
<insert id = "insert">
insert into board(bno, userId, title, content)
values(sqs_board.nextval, #{userId}, #{title}, #{content})
</insert>

<insert id = "insertSelectkey">
<selectKey keyProperty = "bno" order = "BEFORE" resultType = "long">
select sqs_board.nextval from dual 
</selectKey>
insert into board(bno, USER_ID, title, content)
values(#{bno}, #{userId}, #{title}, #{content})
</insert>
  
  <select id = "read" resultType = "org.mp.domain.BoardVO">
select bno, USER_ID as userId, title, content, hit, good, BOARD_DATE as boardDate,
  BOARD_UPDATE_DATE as boardUpdateDate, REPLY_CNT as replyCnt
   from board where bno=#{bno} 
</select>
  
<delete id = "delete">
delete from board where bno=#{bno}
</delete>

<update id = "update">
update board set 
USER_ID=#{userId},
title=#{title}, 
content=#{content},
BOARD_UPDATE_DATE = sysdate
where bno=#{bno}
</update>

<!-- 게시판 조회수 -->
<update id = "plusHit" parameterType = "Long">
UPDATE BOARD SET
HIT = HIT+1
WHERE BNO = #{bno}
</update>

	<!-- 페이징처리와 검색 기능 -->
	<select id="getListWithPaging"	resultType="org.mp.domain.BoardVO">
   <![CDATA[
    select
	bno, userId, title, content, hit, good, boardDate, boardUpdateDate, replyCnt
	from
	(
   		 select
   		 /*+index_desc(board pk_board1)*/
    	 rownum rn, bno, USER_ID as userId, title, content, hit, good, 
    	 BOARD_DATE as boardDate, BOARD_UPDATE_DATE as boardUpdateDate, REPLY_CNT as replyCnt
   		 from board
			where
    	 ]]>
 	
	<include refid="criteria"></include>
	
	<![CDATA[
	
	rownum <=#{pageNum}*#{amount}
	)
	where rn >(#{pageNum}-1)*#{amount} 
   
   ]]>
	
	</select>
	
	
<sql id = "criteria">
<trim prefix = "(" suffix = ")AND " prefixOverrides = "OR">
<foreach item = 'type' collection = "typeArr">
<trim prefix = "OR">
<choose>
<when test = "type == 'T'.toString()">title like '%' || #{keyword} || '%'</when>
<when test = "type == 'C'.toString()">content like '%' || #{keyword} || '%'</when>
<when test = "type == 'W'.toString()">USER_ID like '%' || #{keyword} || '%'</when>

<!-- <when test = "type == 'W'.toString()">writer like '%' || #{keyword} || '%'</when> -->
</choose>
</trim>
</foreach>
</trim>
</sql>

<select id = "getTotalCount" resultType = "int">
select count(*) from board
where

<include refid="criteria"></include>

bno > 0

</select>

<update id = "updateReplyCnt">
update board
set REPLY_CNT = REPLY_CNT + #{amount}
where bno = #{bno}
</update>

<select id = "getReply" resultType = "org.mp.domain.BoardVO">
select REPLY_CNT as replyCnt from board where bno = #{bno}
  </select>
  
 <select id = "getHitList" resultType = "org.mp.domain.BoardVO">
select bno, USER_ID as userId, title, content, hit, good, BOARD_DATE as boardDate,
  BOARD_UPDATE_DATE as boardUpdateDate, REPLY_CNT as replyCnt
   from board order by hit desc
</select>
  
  
</mapper>
