<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mp.mapper.NoticeMapper">

	<select resultType="org.mp.domain.NoticeVO" id="getList">
		select nno, USER_ID as userId, NOTICE_TITLE as noticeTitle, NOTICE_CONTENT as noticeContent, NOTICE_DATE as noticeDate,
  NOTICE_UPDATE_DATE as noticeUpdateDate
  from notice where nno > 0
	</select>

	<insert id="insert">
		insert into notice(nno, USER_ID, NOTICE_TITLE, NOTICE_CONTENT) 
		values(seq_notice.nextval, #{userId}, #{noticeTitle, jdbcType=VARCHAR}, #{noticeContent})
	</insert>

	<insert id="insertSelectkey">
		<selectKey keyProperty="nno" order="BEFORE"
			resultType="long">
			select seq_notice.nextval from dual
		</selectKey>
		insert into notice(nno, USER_ID, NOTICE_TITLE, NOTICE_CONTENT)
		values(#{nno},
		#{userId},#{noticeTitle},#{noticeContent})
	</insert>

	<select id="read" resultType="org.mp.domain.NoticeVO">
		select nno, USER_ID as userId, NOTICE_TITLE as noticeTitle, NOTICE_CONTENT as noticeContent, NOTICE_DATE as noticeDate,
  NOTICE_UPDATE_DATE as noticeUpdateDate from notice where nno=#{nno}
	</select>

	<delete id="delete">
		delete from notice where nno = #{nno}
	</delete>

	<update id="update">
		update notice set NOTICE_TITLE = #{noticeTitle}, NOTICE_CONTENT =
		#{noticeContent}, NOTICE_UPDATE_DATE =
		sysdate where nno = #{nno}
	</update>
	
	<select id="getListWithPaging"	resultType="org.mp.domain.NoticeVO">
   <![CDATA[
    select 
    nno, userId, noticeTitle, noticeContent, noticeDate, noticeUpdateDate 
	from
	(
   		 select
   		 /*+index_desc(notice pk_notice)*/
    	 rownum rn, nno, USER_ID as userId, NOTICE_TITLE as noticeTitle, NOTICE_CONTENT as noticeContent, 
    	 NOTICE_DATE as noticeDate, NOTICE_UPDATE_DATE as noticeUpdateDate 
    	 from notice
			where
    	 ]]>
 	
	<include refid="criteriaNotice"></include>
	
	<![CDATA[
	
	rownum <=#{pageNum}*#{amount}
	)
	where rn >(#{pageNum}-1)*#{amount} 
   
   ]]>
	
	</select>
	
	
<sql id = "criteriaNotice">
<trim prefix = "(" suffix = ")AND " prefixOverrides = "OR">
<foreach item = 'type' collection = "typeArr">
<trim prefix = "OR">
<choose>
<when test = "type == 'T'.toString()">NOTICE_TITLE like '%' || #{keyword} || '%'</when>
<when test = "type == 'C'.toString()">NOTICE_CONTENT like '%' || #{keyword} || '%'</when>
<when test = "type == 'W'.toString()">USER_ID like '%' || #{keyword} || '%'</when>

<!-- <when test = "type == 'W'.toString()">writer like '%' || #{keyword} || '%'</when> -->
</choose>
</trim>
</foreach>
</trim>
</sql>

<select id = "getTotalCount" resultType = "int">
select count(*) from notice
where 

<include refid="criteriaNotice"></include>
 
nno > 0

</select>


</mapper>