<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "org.mp.mapper.ReplyMapper">

 <insert id = "insert">
insert into reply(rno, bno, USER_ID, REPLY_CONTENT)
values(sqs_reply.nextval, #{bno}, #{userId}, #{replyContent})

</insert>

<select id = "read" resultType = "org.mp.domain.ReplyVO">
select rno, bno, REPLY_CONTENT as replyContent, USER_ID as userId, REPLY_DATE as replyDate, REPLY_UPDATE_DATE as replyUpdateDate 
from reply where rno=#{rno}
</select>

<delete id = "delete">
delete from reply where rno=#{rno}
</delete>

<update id = "update">
update reply set 
REPLY_CONTENT=#{replyContent},
<!-- userId=#{userId},  -->
REPLY_UPDATE_DATE = sysdate
where rno=#{rno}
</update>

<delete id = "deleteReply">
delete from reply where bno=#{bno}
</delete>


<!-- 특정한 게시물의 댓글만을 대상으로 하기 떄문에 게시글 번호가 필요함 -->
<select id = "getListWithPaging" resultType = "org.mp.domain.ReplyVO">

<![CDATA[
select *
from
(
select /*+ INDEX(tbl_reply idx_reply)*/
rownum rn, rno, bno, REPLY_CONTENT as replyContent, USER_ID as userId, REPLY_DATE as replyDate, REPLY_UPDATE_DATE as replyUpdateDate
from reply
where bno=#{bno}
and rno > 0
and rownum <= #{cri.pageNum}*#{cri.amount}
)
where rn > (#{cri.pageNum}-1)*#{cri.amount}
]]>


</select>

<select id = "getCountByBno" resultType = "int">
select count(*) from reply
</select>

</mapper>
