<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mp.mapper.ReservationMapper">

<select id="roomList" resultType="org.mp.domain.ReservationVO">

select 
RESER_ID AS reserId,
ROOM_NAME AS roomName,
ROOM_PEOPLE AS roomPeople,
ROOM_PRICE AS roomPrice,
REST_PHONE AS restPhone,
DOG_TYPE AS dogType,
DOG_NUMBER AS dogNumber,
REST_NAME AS restName,
START_DATE AS startDate,
END_DATE AS endDate,
USER_ID AS userId,
REST_ID AS restId        
FROM RESERVATION
WHERE reserId > 0

</select>

<insert id="roomInsert">

insert into RESERVATION(
	RESER_ID,
	REST_NAME,
	ROOM_NAME,
	ROOM_PEOPLE,
	REST_PHONE,
	ROOM_PRICE,
	START_DATE,
	END_DATE,
	DOG_TYPE,
	DOG_NUMBER,
	REST_ID,
	USER_ID)
values(
	SEQ_RESERVATION.NEXTVAL,
	#{restName, jdbcType=VARCHAR},
	#{roomName, jdbcType=VARCHAR},
	#{roomPeople, jdbcType=VARCHAR},
	#{restPhone, jdbcType=VARCHAR},
	#{roomPrice, jdbcType=INTEGER},
	#{startDate, jdbcType=VARCHAR},
	#{endDate, jdbcType=VARCHAR},
	#{dogType, jdbcType=VARCHAR},
	#{dogNumber, jdbcType=INTEGER},
	#{restId, jdbcType=VARCHAR},
	#{userId, jdbcType=VARCHAR})

</insert>


</mapper>