<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "org.mp.mapper.ReviewMapper">

	<insert id="rinsert">
	insert into review(reno, rest_id, review,reviewer,star)
	values(seq_review.nextval,#{restId},#{review},#{reviewer},#{star})
	</insert>
	
	
	<select id="rread" resultType="org.mp.domain.ReviewVO">
		select * from review where reno = #{reno}
	</select>
	
	<delete id="rdelete">
	 	delete from review where reno = #{reno}
	</delete>
	
	<update id="rupdate">
		update review set review = #{review} , review_updatedate = sysdate , star=#{star} where reno = #{reno}
	</update>
	
	<select id="rgetListWithPaging" resultType="org.mp.domain.ReviewVO">
		select reno,rest_id,review,reviewer,review, review_date as reviewDate, review_updatedate as reviewUpdatedate,star
		from review
		where rest_id=#{restId}
		order by reno asc
	</select>
</mapper>
