<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "org.mp.mapper.TipMapper">
 <resultMap type="org.mp.domain.TipVO" id="tipMap">
  <result property="userId" column="userId"/>
  <result property="tno" column="tno"/>
  <result property="tipContent" column="tipContent"/>
  <result property="tipTitle" column="tipTitle"/>
  <result property="tipDate" column="tipDate"/>
  <result property="tipUpdateDate" column="tipUpdateDate"/>
  <collection property="attachList" resultMap="attachMap"></collection> 
</resultMap>

<resultMap type="org.mp.domain.TipAttachVO" id="attachMap">
<result property="fileName" column="fileName"/>
  <result property="uuid" column="uuid"/>
  <result property="uploadPath" column="uploadPath"/>
   
</resultMap>
 
  <select id = "getList" resultType = "org.mp.domain.TipVO">
  select tno, USER_ID as userId, TIP_TITLE as tipTitle, TIP_CONTENT as tipContent, TIP_DATE as tipDate,
  TIP_UPDATE_DATE as tipUpdateDate
  from commontip where tno > 0
  </select>
    
<insert id = "insert">
insert into commontip(tno, USER_ID, TIP_TITLE, TIP_CONTENT)
values(SEQ_TIP.nextval, #{userId}, #{tipTitle}, #{tipContent})
</insert>

<insert id = "insertSelectkey">
<selectKey keyProperty = "tno" order = "BEFORE" resultType = "long">
select seq_tip.nextval from dual 
</selectKey>
insert into commontip(tno, USER_ID, TIP_TITLE, TIP_CONTENT)
values(#{tno}, #{userId}, #{tipTitle}, #{tipContent})
</insert>
  
  <select id = "read" resultType = "org.mp.domain.TipVO">
select tno, USER_ID as userId, TIP_TITLE as tipTitle, TIP_CONTENT as tipContent, TIP_DATE as tipDate,
   TIP_UPDATE_DATE as tipUpdateDate
   from commontip where tno=#{tno} 
</select>
  
<delete id = "delete">
delete from commontip where tno=#{tno}
</delete>

<update id = "update">
update commontip set 
USER_ID=#{userId},
TIP_TITLE=#{tipTitle}, 
TIP_CONTENT=#{tipContent},
TIP_UPDATE_DATE = sysdate
where tno=#{tno}
</update>

	<select id="getListWithPaging"	resultType="org.mp.domain.TipVO" resultMap="tipMap">
   <![CDATA[
    select
	tno, userId, tipTitle, tipContent, tipDate, tipUpdateDate, uuid, uploadPath, fileName
	from
	(
   		 select
   		 /*+index_desc(board pk_tip)*/
    	 rownum rn, commontip.tno, commontip.USER_ID as userId, TIP_TITLE as tipTitle, TIP_CONTENT as tipContent, 
    	 TIP_DATE as tipDate, TIP_UPDATE_DATE as tipUpdateDate, uuid, upload_path uploadPath, file_name fileName
   		 from commontip left outer join tipattach on commontip.tno = tipattach.tno
			where
    	 ]]>
 	
<!-- 	<include refid="criteriaTip"></include> -->
	
	<![CDATA[
	
	rownum <=#{pageNum}*#{amount}
	)
	where rn >(#{pageNum}-1)*#{amount} 
   
   ]]>
	
	</select>

<select id = "getTotalCount" resultType = "int">
select count(*) from commontip
where

<!-- <include refid="criteriaTip"></include> -->

tno > 0

</select>

<!-- <sql id = "criteriaTip"> -->
<!-- </sql> -->
  
</mapper>
